.btn {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.btn button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
}